* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
header{
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 15vh;
    background-color:black;
    
}
.Header_Principal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: vw;
}
.Img_Logo{
    width: 15vh;
}
.encabezado{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.encabezado li a{
    justify-content: center;
    margin-top: 150vh;
    font-size: 3vh;
    padding: 0 8vw;
    color: #ffffff;
}
.BTN{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5vw;
}
.Btn{
    cursor: pointer;
    border: none;
    border-radius: 5vw;
    width: 10vw;
    height: 7vh;
    font-size: 3vh;
    background-color: red;
}
.Btn a{
    color: #000;
}
